@use '../../variables' as v;

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

.content {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  width: auto;
  //position: absolute;
  transition: all .2s ease-out;
  animation: marquee 40s linear infinite;
}