$background-color: #E4E4E4;
$secondary-color: #FFFFFF;
$accent-color: #FEC110;
$black-color: #000000;
$dark-accent: #313232;
$sec-text-color: #989898;
$font-family: 'ArialNova';
$big-font-size: 50px;
$pre-biggest-font-size: 67px;
$biggest-font-size: 75px;
$big-font-weight: 400;
$lit-font-weight: 700;
$lit-font-size: 12px;
$med-font-size: 24px;
$pre-med-font-size: 21px;
